name: Build Maste
on:
  push:
    branches:
      - master

jobs:
  build-master:
    name: Build Master
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14.1
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.1

      - name: Check out source code
        uses: actions/checkout@v1

      - name: Build Go Binary
        run: |
          go mod init github.com/munnerz/kube-plex
          CGO_ENABLED=0 GOOS=linux GOOARCH=arm go build -a -installsuffix cgo -o kube-plex_linux_arm

      - name: Build Docker Image
        run: docker build -t recogio/kube-plex:sample .
