name: Build and Deploy
on:
  push:
    tags:
      - v*

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14.1
        uses: actions/setup-go@v1
        with:
          go-version: 1.14.1

      - name: Check out source code
        uses: actions/checkout@v1

      - name: Build Go Binary
        run: |
          CGO_ENABLED=0 GOOS=linux GOOARCH=arm go build -a -installsuffix cgo -o kube-plex_linux_arm

      - name: Log in to registry
        run: echo ${{ secrets.DOCKER_PASS }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin

      - name: Build Docker Image
        run: docker build -t recogio/kube-plex:${GITHUB_REF##*/}

      - name: Deploy Docker Image
        run: docker push recogio/kube-plex:${GITHUB_REF##*/}
